<h3>Welcome to my sample application</h3>
<p>As you can see, is a very simple stupid application in order to demostrate how it's easy to develop with the
    following frameworks:</p>
<ul>
    <li>Spring MVC</li>
    <li>Angularjs</li>
    <li>Twitter Bootstrap</li>
</ul>
<p>With <strong>Spring MVC</strong> I developed the server-side controllers using rest and json for data interchange.
    Also this data is used in the front end part, that has been developed with
    <strong>angularjs</strong> and the beautiful <strong>bootstrap</strong> css. I hope that it helps my simple proof of
    concept! :)
</p>
<p>Come on!! Pick up a <a href="#customer">customer</a> and discover the bills that they have!</p>
<p>Also you can browse the sample products <a href="#product">here</a></p>
